# 依赖
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build

# 本地环境文件
.env
.env*.local

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# 系统
.DS_Store
*.pem

# Playwright 测试
/test-results
/playwright-report
/playwright/.cache

# 临时文件
*.log
/tmp
